

body {
    width: 100%;
    height: 100vh;
    margin: 0;
    background-color: var( --palette-apricot );
    font-family: 'Noto Serif', serif;
}



.cover-page {
    height: calc( 100% - 4rem );
    width: 100%;
    border: red 1px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.title-content {
    width: 100%;
    max-width: 80vw;

    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.title-card {
    margin: 1rem 0 1rem 0;

    height: 100%;
    width: fit-content;

    font-family: 'Times New Roman', Times, serif;
    align-items: center;
}

.title-card h1 {
    font-weight: 800;
    font-size: 6rem;
    font-family: 'Noto Serif', serif;
    font-weight: 400;
    letter-spacing: 0.5rem;

    color: var( --palette-eggplant );
    margin: 0;

}

.title-card h2 {
    font-family: 'Noto Serif JP', serif;
    width: fit-content;
    border-top: 2px solid var( --palette-atomic_tangerine );
    font-size: 1.5rem;
    font-weight: 400;

    color: var( --palette-atomic_tangerine );
    margin: 0;
    letter-spacing: 0.5rem;
}

.title-anime {
    margin: 1rem 0 1rem 0;
    width: fit-content;
    height: inherit;
    display: flex;
    flex-direction: row;

    justify-content: center;
    align-items: center;
}

.dango {
    width: 8rem;
    height: 8rem;
}

#dango-1 {
    border-radius: 52% 48% 51% 49% / 48% 54% 46% 52%;
    background-image: linear-gradient(to right, rgba(0,0,0,0), var( --palette-light_sea_green ));
}

#dango-2 {
    border-radius: 52% 48% 51% 49% / 48% 54% 46% 52%;
    background-image: linear-gradient(to right, rgba(0,0,0,0), var( --palette-atomic_tangerine ));
}

#dango-3 {
    border-radius: 52% 48% 51% 49% / 48% 54% 46% 52%;
    background-image: linear-gradient(to right, rgba(0,0,0,0), var( --palette-eggplant ));
}


.disclaimer-bar {
    width: 100%;
    height: 4rem;
    text-align: center;
}

.disclaimer-bar h3 {
    margin: 0;
    font-weight: 100;
    font-size: 1rem;
    font-family: 'Noto Serif', serif;
    color: var( --palette-atomic_tangerine );
    text-decoration: underline;
}




.project-page {
    width: 100%;
    height: 100vh;

    display: flex;
    align-items: center;
    justify-content: center;
}

.project-content {
    height: fit-content;
    width: fit-content;
}

.project-content h1 {
    font-size: 6rem;
    font-weight: 200;
    color: var( --palette-eggplant );
    margin: 0;
}

.project-description h2 {
    font-weight: 100;
    font-size: 1.5rem;
    
    color: var( --palette-atomic_tangerine );
    margin: 0;
}

